.location {
    background-color: transparent;
}

.location__row {
    display: flex;
    border: 1px solid #D6D6D6;

    &:first-child {
        border-radius: 4px 4px 0 0;
        border-bottom: none;
    }

    &:last-child {
        border-radius: 0 0 4px 4px;
    }

    & .location__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        appearance: none;
    }

    & .location__input:checked + * {
        background-color: #FFCF26;
    }   
}

.location__button {
    flex-grow: 1;
    padding: 17px 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: #3C3C3C;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: #a2a39f;
    }
}
